Source: libvmod-geoip
Section: web
Priority: extra
Maintainer: Lasse Karstensen <lkarsten@varnish-software.com>
Build-Depends: debhelper (>= 7), build-essential, python-docutils, libgeoip-dev, geoip-database
Standards-Version: 3.8.1
Vcs-Git: git://github.com/lkarsten/libvmod-geoip.git

Package: libvmod-geoip
Architecture: any
Depends: varnish, geoip-database, ${misc:Depends}
Description: Varnish GeoIP Lookup Module
